<ul class="nav justify-content-center list-unstyled d-flex">
  <li class="ms-3"><a title="Twitter" class="text-dark" href="https://twitter.com/CamunitedTeam" target="_blank" rel="noopener"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
  <li class="ms-3"><a title="Instagram" class="text-dark" href="https://www.instagram.com/CamunitedTeam/" target="_blank" rel="noopener"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
  <li class="ms-3"><a title="Facebook" class="text-dark" href="https://www.facebook.com/CamunitedTeam" target="_blank" rel="noopener"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
</ul>