<div id="footer-container-02-container" class="container">

    <div id="rightfooter-branding" class="">
        <div id="rightFooter-logo">
        <svg id="rightFooter-logo-svg" data-name="Camunited-Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2000 2000" width="48" height="48"><use xlink:href="#Camunited-Logo"/></svg>
        </div>

        <div id="rightFooter-brand" class="text-dark">
        <p id="rightFooter-brand-p" class="fw-bold agis-bold" style="font-size: 1.5rem;">CAMUNITED</p>
        </div>
      <nav-lang></nav-lang>
    </div>

    <div id="email-btn" class="m-2">
      <a href="mailto:camunitedteam@gmail.com" class="btn btn-outline-info">
        <span><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
          <use xlink:href="#send-svg"/>
        </svg></span> Send a Email!
      </a>
    </div>

</div> <!-- DIV End container -->
