<ul class="nav justify-content-center">
  <li class="nav-item" ui-sref-active="active"><a id="developersNav" ui-sref="public.developers" class="nav-link px-2 footer-sm-fw">Developers</a></li>
  <li class="nav-item" ui-sref-active="active"><a id="careersNav" ui-sref="public.careers" class="nav-link px-2 footer-sm-fw">Careers</a></li>
  <li class="nav-item" ui-sref-active="active"><a id="termspolicyNav" ui-sref="public.termspolicy" class="nav-link px-2 footer-sm-fw">Terms &middot; Policy</a></li>
  <li class="nav-item" ui-sref-active="active"><a id="creditsNav" ui-sref="public.credits" class="nav-link px-2 footer-sm-fw">Credits</a></li>
  <li class="nav-item" ui-sref-active="active"><a id="aboutNav" ui-sref="public.about" class="nav-link px-2 footer-sm-fw">About</a></li>
  <li class="nav-item" ui-sref-active="active"><a id="faqsNav" ui-sref="public.faqs" class="nav-link px-2 footer-sm-fw">FAQs</a></li>
</ul>
