    <div id="home-tiles-1" class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a ui-sref="public.home.contact">
                <div id="menu-tile-1" class="rounded-7">
                    <span>menu 1</span>
                </div>
            </a>
            <nav-social style="position: relative; bottom:8px;"></nav-social>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a ui-sref="public.home.about">
                <div id="menu-tile-2" class="rounded-7">
                    <span>menu 2</span>
                </div>
            </a>
            <nav-social style="position: relative; bottom:8px;"></nav-social>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a ui-sref="public.home.about">
                <div id="menu-tile-3" class="rounded-7">
                    <span>menu 3</span>
                </div>
            </a>
            <nav-social style="position: relative; bottom:8px;"></nav-social>
        </div>
    </div>


    <div id="home-tiles-2" class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a ui-sref="public.home.contact">
                <div id="menu-tile-4" class="rounded-7">
                    <span>menu 4</span>
                </div>
            </a>
            <nav-social style="position: relative; bottom:8px;"></nav-social>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a ui-sref="public.home.about">
                <div id="menu-tile-5" class="rounded-7">
                    <span>menu 5</span>
                </div>
            </a>
            <nav-social style="position: relative; bottom:8px;"></nav-social>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a ui-sref="public.home.about">
                <div id="menu-tile-6" class="rounded-7">
                    <span>menu 6</span>
                </div>
            </a>
            <nav-social style="position: relative; bottom:8px;"></nav-social>
        </div>
    </div>
    
<!-- <div class="card-group container-fluid">
    <div class="card">
        <img ng-src="assets/img/card/card.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card">
        <img ng-src="assets/img/card/card.jpg" class="card-img-top" alt="...">
    
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card">
        <img ng-src="assets/img/card/card.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

</div>

<div class="card-group container-fluid">
    <div class="card">
        <img ng-src="assets/img/card/card.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card">
        <img ng-src="assets/img/card/card.jpg" class="card-img-top" alt="...">
    
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card">
        <img ng-src="assets/img/card/card.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

</div> -->