
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <img class="bi me-2" src="assets/img/logo/logo.png" width="30" height="24">
      <span class="fs-5 fw-semibold sm-text">Category</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          Home
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a ui-sref-active="active" ui-sref="public.home" class="link-dark rounded">English</a></li>
            <li><a ui-sref-active="active" ui-sref="public.km" class="link-dark rounded">ភាសាខ្មែរ</a></li>
            <li><a ui-sref-active="active" ui-sref="public.zhhans" class="link-dark rounded">中文</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Services
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a ui-sref-active="active" ui-sref="public.home.advertserve" class="link-dark rounded">Advertising Service</a></li>
            <li><a ui-sref-active="active" ui-sref="public.home.mediaphographer" class="link-dark rounded">Media Photos Grapher</a></li>
            <li><a ui-sref-active="active" ui-sref="public.home.graphicdesign" class="link-dark rounded">Graphic Design</a></li>
            <li><a ui-sref-active="active" ui-sref="public.home.inexdesign" class="link-dark rounded">Interior Exterior Design</a></li>
            <li><a ui-sref-active="active" ui-sref="public.home.realestdeal" class="link-dark rounded">Real Estate Dealing</a></li>
            <li><a ui-sref-active="active" ui-sref="public.home.taxdeeserve" class="link-dark rounded">Tax Declaration Service</a></li>
            <li><a ui-sref-active="active" ui-sref="public.home.jobopport" class="link-dark rounded">Job Opportunities</a></li>
                <!--  And more Navigation -->
            <!-- <li><a class="link-dark rounded" ui-sref-active="active" ui-sref="public.home.action">Another Navigation</a></li> -->
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Skills
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.civileng">Civil Engineer</a></li>
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.techniceng">Technical Engineer</a></li>
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.vcreator">Videos Creator</a></li>
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.comteacher">Computer Teacher</a></li>
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.chiinter">Chinese Interpreter</a></li>
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.chiteacher">Chinese Teacher</a></li>
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.enginter">English Interpreter</a></li>
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.engteacher">English Teacher</a></li>
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.creativechef">Creative Chef</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse2" aria-expanded="false">
          Psar
        </button>
        <div class="collapse" id="orders-collapse2">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.car">Car</a></li>
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.motor">Motor</a></li>
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.simcard">SIM Card</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse3" aria-expanded="false">
          Places
        </button>
        <div class="collapse" id="orders-collapse3">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.cafe">Cafe</a></li>
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.restaurant">Restaurant</a></li>
            <li><a class=" link-dark rounded" ui-sref-active="active" ui-sref="public.home.resort">Resort</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true">
          More
        </button>
        <div class="collapse show" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a ui-sref="public.home.termspolicy" class="link-dark rounded">Terms &middot; Policy</a></li>
            <li><a ui-sref="public.home.credits" class="link-dark rounded">Credit</a></li>
            <li><a ui-sref="public.home.faqs" class="link-dark rounded">FAQs</a></li>
            <li><a ui-sref="public.home.contact" class="link-dark rounded">Contact</a></li>
            <li><a ui-sref="public.home.about" class="link-dark rounded">About</a></li>
          </ul>
        </div>
      </li>
    </ul>