<ul class="nav justify-content-center list-unstyled d-flex">
  <li class="ms-3"><a title="Facebook" class="text-dark" href="https://www.facebook.com/PeakhuServices" target="_blank" rel="noopener"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
  <li class="ms-3"><a title="Telegram" class="currentColor" href="https://t.me/PeakhuServices" target="_blank" rel="noopener"><svg class="bi bi-telegram" width="24" height="24"><use xlink:href="#telegram"/></svg></a></li>
</ul>