<ul class="nav justify-content-center">

  <li class="nav-item"><a ui-sref-active="active" ui-sref="public.home.termspolicy" class="nav-link px-2 footer-sm-fw">Terms &middot; Policy</a></li>

  <li class="nav-item"><a ui-sref-active="active" ui-sref="public.home.credits" class="nav-link px-2 footer-sm-fw">Credits</a></li>

  <li class="nav-item"><a ui-sref-active="active" ui-sref="public.home.faqs" class="nav-link px-2 footer-sm-fw">FAQs</a></li>

  <li class="nav-item"><a ui-sref-active="active" ui-sref="public.home.contact" class="nav-link px-2 footer-sm-fw">Contact</a></li>

  <li class="nav-item"><a href="#" class="nav-link px-2 footer-sm-fw" ui-sref-active="active" ui-sref="public.home.about">About</a></li>
</ul>
