
  <div id="footer-container-02-container" class="container">
    <div class="container-fluid d-flex text-center ms-lg-4">

    
      <!-- <div id="rightfooter-branding"> -->
        <!-- <div id="rightFooter-logo">
          <div id="rightFooter-logo-svg"><img id="header-brand-img" ng-src="assets/img/logo/branding.png" alt="Branding"></div>
          </div>

        <div id="rightFooter-brand" class="text-dark">
        <p id="rightFooter-brand-p" class="fw-bold agis-bold" style="font-size: 1.5rem;">PEAKHU</p>
        </div> -->

        <div id="footer-brand-lg">
          <img id="footer-brand-lg-img" ng-src="assets/img/logo/branding.png" height="115" width="300" alt="Branding">
          <div class="text-uppercase agis-bold h4">Peakhu &middot; Services</div>
        </div>

        <div id="footer-dialog" class="m-3">
            <div id="call-btn">
              <a href="tel:089325623" class="btn btn-outline-secondary">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                  <use xlink:href="#telephone-svg"/>
                </svg></span> Call now!
                <div>089-325-623</div>
              </a>
            </div>

            <div id="email-btn" class="m-2">
              <a href="mailto:PeakhuServices@gmail.com" class="btn btn-outline-info">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                  <use xlink:href="#send-svg"/>
                </svg></span> Send a Email!
              </a>
            </div>
          </div>

        

        <!-- Nav Languages -->
        <!-- <nav-lang></nav-lang> -->

      <!-- </div> -->
    </div>
  </div> <!-- DIV End container -->
