      <!-- Data base NAV dbs -->
<div class="offcanvas-body mx-lg-4">
  <ul id="nav-list" class="navbar-nav justify-content-end flex-grow-1 pe-3 me-auto mb-2 mb-lg-0">

        <!-- Nav List -->
      <li class="nav-item">
      <a id="HomepageNav" class="nav-link text-uppercase" aria-current="page" ui-sref-active="active" ui-sref="public.home">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
        <use xlink:href="#home-svg"/></svg><br>Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link dropdown-toggle text-uppercase" role="button" data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-ui-radios-grid" viewBox="0 0 16 16">
        <use xlink:href="#services-svg"/></svg><br>Services</a>

        <!-- Dropdown Menu -->
      <ul class="dropdown-menu dropdown-menu-dark rounded-5" aria-labelledby="offcanvasNavbarDropdown">
        <li id="sevices-dropdown"><a class="href-links" ui-sref-active="active" ui-sref="public.home.services"><h6 class="dropdown-header text-uppercase">Services</h6></a></li>
        <li><hr class="dropdown-divider" style="width:70%; position: relative; left: 15%;"></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.advertserve">Advertising Service</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.mediaphographer">Media Photos Grapher</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.graphicdesign">Graphic Design</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.inexdesign">Interior Exterior Design</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.realestdeal">Real Estate Dealing</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.taxdeeserve">Tax Declaration Service</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.jobopport">Job Opportunities</a></li>
             <!--  And more Navigation -->
        <!-- <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.action">Another Navigation</a></li> -->
      </ul>
    </li>

      <li class="nav-item">
        <a class="nav-link dropdown-toggle text-uppercase" role="button" data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
        <use xlink:href="#tools-svg"/></svg><br>Skills</a>

        <!-- Dropdown Menu -->
      <ul class="dropdown-menu dropdown-menu-dark rounded-5" aria-labelledby="offcanvasNavbarDropdown">
        <li id="sevices-dropdown"><a class="href-links" ui-sref-active="active" ui-sref="public.home.skills"><h6 class="dropdown-header text-uppercase">Skills</h6></a></li>
        <li><hr class="dropdown-divider" style="width:70%; position: relative; left: 15%;"></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.civileng">Civil Engineer</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.techniceng">Technical Engineer</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.vcreator">Videos Creator</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.comteacher">Computer Teacher</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.chiinter">Chinese Interpreter</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.chiteacher">Chinese Teacher</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.enginter">English Interpreter</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.engteacher">English Teacher</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.creativechef">Creative Chef</a></li>
      </ul>
    </li>

      <li class="nav-item dropdown">
        <a id="PsarpageNav" class="nav-link dropdown-toggle text-uppercase"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
        <use xlink:href="#psar-svg"/></svg><br>Psar
      </a>

        <!-- Dropdown Menu -->
      <ul class="dropdown-menu dropdown-menu-dark rounded-5" aria-labelledby="offcanvasNavbarDropdown">
        <li id="assets-dropdown"><a class="href-links" ui-sref-active="active" ui-sref="public.home.psar"><h6 class="dropdown-header text-uppercase">Psar</h6></a></li>
        <li><hr class="dropdown-divider" style="width:70%; position: relative; left: 15%;"></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.car">Car</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.motor">Motor</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.simcard">SIM Card</a></li>
      </ul>
      </li>

      <li class="nav-item dropdown">
        <a id="PlacepageNav" class="nav-link dropdown-toggle text-uppercase" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
        <use xlink:href="#places-svg"/></svg><br>Places
      </a>

        <!-- Dropdown Menu -->
      <ul class="dropdown-menu dropdown-menu-dark rounded-5" aria-labelledby="offcanvasNavbarDropdown">
        <li id="assets-dropdown"><a class="href-links" ui-sref-active="active" ui-sref="public.home.places"><h6 class="dropdown-header text-uppercase">Places</h6></a></li>
        <li><hr class="dropdown-divider" style="width:70%; position: relative; left: 15%;"></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.cafe">Cafe</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.restaurant">Restaurant</a></li>
        <li class="nav-item"><a class="dropdown-item" ui-sref-active="active" ui-sref="public.home.resort">Resort</a></li>
      </ul>
      </li>
  </ul> <!-- Close Nav List -->
</div> <!-- Close .collapse .navbar-collapse -->      