html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 530px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#customCheck1 {
  position: relative;
  margin-top: .7rem;
  margin-bottom: 0.7rem;
}
#remember-me {
  margin-top: 0.5rem;
}
#remember-me input {
  height: 18px;
  width: 18px;
  position: relative;
  top: 2px;
  right: 2px;
}
#signin-button {
  border-radius: 25px;
  max-width: 270px;
}
#brand-logo {
  position: relative;
  top: 1rem;
  right: 5px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}